.container {
    --dropdown-width: 300px;

    border: 1px solid orange;
    width: var(--dropdown-width);
    min-height: 150px;
    border-radius: 10px;

    position: absolute;
    top: 40px;
    left: calc( -1 * var(--dropdown-width)/2);

    background-color: var(--white);
}

.inactive {
    visibility: hidden;
}