.container {
    /* border: 1px solid red; */
    margin-right: 20%;
    position: relative;
    cursor: pointer;
}

.cart {
    cursor: pointer;
}

.cart:hover {
    /* filter: invert(0%) sepia(0%) saturate(7500%) hue-rotate(285deg) brightness(94%) contrast(97%); */
    filter: brightness(0) saturate(100%);
}