button.container {
    /* width and height specified by CSS of its parent component */
    width: 60%;
    border: none;
    border-radius: 10px;

    background-color: var(--orange);
    color: var(--white);
    box-shadow: 1px 17px 15px 5px var(--pale-orange);
    font-weight: bold;
    letter-spacing: 0.5px;
    
    cursor: pointer;
}

button.container:hover {
    background-color: var(--pale-orange);
}

.icon {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(189deg) brightness(106%) contrast(101%);

    margin-right: 5%;
}