.container {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
    border-bottom: 2px solid var(--light-grayish-blue);
    width: 90%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

}

.left {
    /* border: 1px solid red; */
    width: 60%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;

}

.left h1 {
    /* border: 1px solid red; */

    width: 35%;
    /* text-align: center; */
    cursor: pointer;
}

.left .links {
    /* border: 1px solid red; */
    width: 65%;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

.left a {
    border-bottom: 5px solid rgba(0,0,0,0);

    display: flex;
    align-items: center;

    color: var(--grayish-blue);
    text-decoration: none;
}

.left a:hover {
    border-bottom: 5px solid var(--orange);
    color: var(--black);
}

.right {
    /* border: 1px solid red; */
    padding: 0;
    margin: 0;
    width: 15%;
    flex-grow: 1;
    justify-self: right;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}

.avatar {
    margin: 0, 0, 0, 5%;
    width: 45px;
    height: auto;
    cursor: pointer;

    border: 2px solid rgba(0,0,0,0);
    border-radius: 50%;
}

.avatar:hover {
    border: 2px solid var(--orange);
}

