.container {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
    border-bottom: 2px solid var(--light-grayish-blue);
    width: 90%;
    height: 100px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

}

.menuBtn {
    border: none;
    margin: 0 1%;
    background-color: var(--white);

    cursor: pointer;
    display: none;
}


.left {
    /* border: 1px solid red; */
    width: 60%;
    flex-grow: 5;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;

}

.logo {
    width: 150px;
    height: 22px;
    padding: 3px 0 15px 0;
    cursor: pointer;

    align-self: center;
}

.left .links {
    /* border: 1px solid red; */
    width: 65%;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

.left a {
    border-bottom: 5px solid rgba(0,0,0,0);

    display: flex;
    align-items: center;

    color: var(--grayish-blue);
    text-decoration: none;
}

.left a:hover {
    border-bottom: 5px solid var(--orange);
    color: var(--black);
}

.right {
    /* border: 1px solid red; */
    padding: 0;
    margin: 0;
    width: 15%;
    flex-grow: 1;
    justify-self: right;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}

.avatar {
    margin: 0, 0, 0, 5%;
    width: 45px;
    height: auto;
    cursor: pointer;

    border: 2px solid rgba(0,0,0,0);
    border-radius: 50%;
}

.avatar:hover {
    border: 2px solid var(--orange);
}

@media screen and (max-width: 991px) {
    .container {
        width: clamp (375px 100%, 500px);
    }
}

@media screen and (max-width: 375px) {
    .container {
        /* border: 1px solid red;  */
        width: 100%;
        height: 60px;

    }

    .menuBtn {
        margin: 0 3% 0 5%;
        display: flex;
        align-items: center;
    }

    .left {
        /* border: 1px solid red; */
        width: 20%;
        justify-content: flex-start;

    }

    .logo {
        /* border: 1px solid blue; */
        padding: 0 0 5px 5px;
    }

    .left .links {
        display: none;
    }

    .right {
        /* border: 1px solid red; */
        justify-content: space-evenly;
    }

    .avatar {
        width: 25px;
    }

}
