.container {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */

    width: 30%;
    height: 90%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;

}

.current {
    width: 100%;
    height: auto;
    border-radius: 20px;

    cursor: pointer;
}

.thumbnails {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.thumbnail {
    border: 2px solid rgba(0,0,0,0);
    width: 80px;
    height: 80px;
    border-radius: 10px;

    cursor: pointer;
}

.thumbnail img {
    width: 100%;
    border-radius: 10px;
    
}

.thumbnail img:hover {
    opacity: 0.5;
}

.selected {
    border: 2px solid var(--orange);
}

.selected img {
    opacity: 0.3;
}