.container {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */

    width: 30%;
    height: 69vh;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;

}

.current {
    width: 100%;
    height: auto;
    border-radius: 20px;

    cursor: pointer;
}

.thumbnails {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.thumbnail {
    width: 20%;
    border-radius: 10px;

    cursor: pointer;
}

.thumbnail:hover {
    opacity: 0.5;
}

.selected {
    opacity: 0.3;
}