.container {
    /* border: 1px solid red; */
    border-radius: 10px;

    width: 33%;
    height: 45px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

    background-color: var(--light-grayish-blue);
}

.container button {
    border: none;
    width: 30%;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: rgba(0,0,0,0);
    cursor: pointer;
}

.container button:hover {
    filter: brightness(0) saturate(100%) invert(91%) sepia(24%) saturate(1818%) hue-rotate(307deg) brightness(101%) contrast(101%);
}

.quant {
    /* border: 1px solid red; */
    width: 40%;
    /* flex-grow: 2; */
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 375px) {
    .container {
        width: 100%;
        height: 45%;
    }

}